<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Cards</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
      <script src="{% static 'bootstrap.min.js' %}"></script>
	</head>
	<body>
    <div class="container">
      <h1 style="text-align:center;">Cards</h1>
      {% for table in tables %}
        <h2>{{table.name}}</h2>
        <table class="table table-striped">
          <thead>
          <tr>
            {% for header in table.headers %}
              <th>{{header}}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
            {% for record in table.content %}
              <tr>
                {% for value in record %}
                  <td>{{value}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
	</body>
</html>